@import '../../sass/mixins';

header {
    display: block;
    margin: 0 auto;
    width: 100%;

    .home &,
    .crud & {
        margin-top: 10vh;

        @include sm {
            margin-top: 15vh;
        }
        
        @include md {
            margin-top: 10vh;
        }
    }

    h1{
        display: block;
        text-align: center;
        text-transform: uppercase;
        color: #00FF40;
    }
}