@import '../../sass/mixins';

.content {
    &.home {
        background-color: #fdfdfd;
        display: block;
        height: 100vh;
        width: 100%;
        margin: 0 2vw;

        @include sm { 
            width: 85vw;
        }
        @include md { 
            width: 90vw;
        }
    }

    &-list {
        list-style: none;
        display: block;
        margin: 1rem 0;
        padding: 0;
        box-sizing: border-box;

        &-item {
            margin: .25rem;
            display: inline-block;
            width: 30%;
            background-color: #ab0da6;
            padding: 1rem;
            border-radius: 10px;

            @include sm {
                width: 100%;
            }

            @include lg {
                width: 30%;
            }

            @include tablet1024 {
                width: 100%;
            }
        }
    }

    .dragon {
        display: block;
        width: 100%;

        &-ttl{
            color: #fff;

            @include sm {
                display: block;
                text-align: center;
            }

            @include lg {
                text-align: initial;
            }
        }

        &-text {
            color: #fff;
            font-size: 16px;
            display: block;
            padding: 5px;
            width: 100%;
        }

        &-content {
            display: block;
            margin: 5vh 0;

            @include sm {
                margin: 5vh auto;
            }

        }

        &-link {
            text-decoration: none;
        }

        &-buttons {
            display: flex;

            @include sm {
                display: block;
            }

            @include lg {
                display: flex;
            }
        }
        
        
    }
}

.remove {
    &-modal {
        display: block;
        position: absolute;
        z-index: 50;
        background-color: rgba(0, 0, 0, 0.75);
        width: 100vw;
        height: 100vh;
        top: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity ease-in-out .25s, visibility ease-in-out .25s ;

        &.active {
            opacity: 1;
            visibility: visible;
        }
        &-wr {
            background-color: #01DF3A;
            padding: 1rem;
            border-radius: 5px;
            margin-left: -5rem;

            @include sm {
                margin-left: initial;
            }

            h2 {
                text-align: center;
                display: block;
                margin: 0 auto;

                @include sm {
                    width: 100%;
                    font-size: 12px;
                }
            }
        }
    }
}