@import '../../sass/mixins';

.logo {
    display: block;
    padding: 5vw 30vw;
    box-sizing: border-box;

    @include sm {
        padding: 5vw 10vw;
    }

    @include lg {
        padding: 5vw 30vw;
    }
}

.logo-img {
    display: block;
    width: 100%;
    margin: 0 auto;

    .menu .logo & {
        width: 100%;
        display: block;
    }
    
}