@import '../../sass/mixins';

.menu {
    display:block;
    background-color: #00FF40;
    color: #fff;
    padding: 2rem;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 5;

    &-nav {
        &-item {
            color: #fff;
            text-decoration: none;
            padding: .5rem;
            font-size: 16px;
            margin-right: 1vw;
            border: solid #04B404;
            border-radius: 5px;
            border-width: 2px;
            cursor: pointer;

            &:last-child {
                width: 90px;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                border: none;
                position: absolute;
                right: 6vw;
                top: 1rem;

                @include sm {
                    display: none;
                }

                @include md {
                    display: block;
                }
            }
        }
    }
}